@{
    ViewData["Title"] = "About Us";
}


<div class="container">
    <h2>About Us</h2>
    <p>
        Welcome to Property, your premier destination for exquisite real estate solutions. With a passion for luxury living and an unwavering commitment to excellence, we pride ourselves on delivering unparalleled service and unmatched expertise to our discerning clientele.

        At Property, we offer an exclusive collection of exceptional properties meticulously selected to meet the highest standards of luxury living. Our team of seasoned professionals boasts extensive experience and in-depth market knowledge, ensuring expert guidance every step of the way.

        Whether you're buying, selling, or investing, trust us to provide personalized service tailored to your unique needs and aspirations. With a global network and access to off-market listings, we offer exclusive opportunities to find the home of your dreams.

        Experience the epitome of luxury real estate with [Firm Name]. Contact us today to embark on your journey towards exceptional living.
    </p>


 
    <div class="row">
       
            <div class="col-md-4">
                <img src="https://goeste.pl/wp-content/uploads/2024/02/12696.1.156j_vapf_night_191003_01-sn-1024x683.jpg" class="img-fluid equal-height" alt="Opis zdjęcia 1">
            </div>
            <div class="col-md-4">
                <img src="https://goeste.pl/wp-content/uploads/2024/02/14494.1.vapf_45-45j_night_hq_220218_005-sn-1024x577.jpg" class="img-fluid equal-height" alt="Opis zdjęcia 2">
            </div>
            <div class="col-md-4">
                <img src="https://goeste.pl/wp-content/uploads/2024/02/12768.1.39j_vapf_night_hq_191204_01-sn-1024x577.jpg" class="img-fluid equal-height" alt="Opis zdjęcia 3">
        </div>
        
    </div>
    <style>
        .image-container {
            height: 200px; 
            overflow: hidden; 
        }

        .equal-height {
            height: 100%;
            object-fit: cover;
            width: 100%; 
        }
    </style>
</div>
